*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
}
@media only screen and (max-width: 1919px) {
  body {
    display: none;
  }
}

.header {
  width: 100vw;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
}

.header_nav {
  width: 100%;
  height: 100%;
  position: relative;
}
.header_nav::after {
  content: "";
  width: 160rem;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: -1;
  border-bottom: 1px solid #fff;
}
.header_nav .header_ul {
  width: 85%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav .header_ul .header_li {
  position: relative;
  list-style-type: none;
  width: 100%;
  height: auto;
  padding: 0.75rem 0;
  font-size: 1.4rem;
  letter-spacing: 0.18rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header_nav .header_ul .header_li::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border-bottom: 1px solid #05DEEC;
}
.header_nav .header_ul .header_li:hover::after {
  width: 80%;
}

.active {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #05DEEC;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(40, 38, 38, 0.716);
}

.container_manage_sort {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container_manage_sort .sort_label {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.14rem;
}
.container_manage_sort .dropdown {
  width: 100%;
  height: 4rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  outline: transparent;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}
.container_manage_sort .dropdown:hover {
  border: 1px solid #05DEEC;
}
.container_manage_sort .dropdown option {
  height: 4rem;
  text-transform: uppercase;
  background-color: #000;
}
.container_manage_sort .dropdown .select_text {
  text-transform: uppercase;
  background-color: #000;
  letter-spacing: 3rem;
  font-size: 1.6rem;
}
.container_manage_sort .dropdown .select_text:hover {
  color: #000;
}

.container_manage {
  width: 160rem;
  height: 12rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_manage .container_manage_icon_boxes {
  width: 100%;
  height: 100%;
}
.container_manage .container_manage_icon_boxes .manage_title,
.container_manage .container_manage_icon_boxes .container_manage_box {
  width: 100%;
}
.container_manage .container_manage_icon_boxes .manage_title {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.18rem;
  text-align: left;
}
.container_manage .container_manage_icon_boxes .container_manage_box {
  height: 5rem;
  padding-left: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container_manage .container_manage_icon_boxes .container_manage_box .icons {
  width: 10rem;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container_manage .container_manage_icon_boxes .container_manage_box .icons .icons_name {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.container_manage .container_manage_icon_boxes .container_manage_box .icons i {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.container_manage .container_manage_icon_boxes .container_manage_box .icons i:hover {
  color: #B0EC05;
}
.container_manage .container_manage_icon_boxes .container_manage_box .icons i:hover ~ .icons_name {
  color: #B0EC05;
}
.container_manage .container_manage_icon_boxes .container_manage_box .icons_order::after {
  content: "10";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -40%;
  right: -3%;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  z-index: -1;
}

.container_main {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 9rem;
  left: 0;
  position: relative;
}
.container_main .containers {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: -100vw;
  top: 0;
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
  font-size: 2rem;
}
.container_main .moveLeft {
  left: 0vw;
  z-index: 10;
}
.container_main .container_active {
  left: 0vw;
}

.card_container {
  width: 24rem;
  height: 52rem;
  background: url(../public/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.card_container .card_top_dispNum_lastFree,
.card_container .card_pickup,
.card_container .card_return,
.card_container .card_customer {
  padding: 1rem;
  border: 1px solid red;
  text-shadow: 0.15rem 0.15rem 0.2rem rgba(62, 59, 59, 0.429);
}

.card_top {
  width: 100%;
  height: 15rem;
  color: #000;
  font-weight: 600;
}
.card_top .card_top_yard {
  width: 100%;
  height: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card_top .card_top_yard:nth-child(1),
.card_top .card_top_yard:nth-child(5),
.card_top .card_top_yard:nth-child(9),
.card_top .card_top_yard:nth-child(13),
.card_top .card_top_yard:nth-child(17) {
  background-color: red;
}
.card_top .card_top_yard:nth-child(2),
.card_top .card_top_yard:nth-child(6),
.card_top .card_top_yard:nth-child(10),
.card_top .card_top_yard:nth-child(14),
.card_top .card_top_yard:nth-child(18) {
  background-color: green;
}
.card_top .card_top_yard:nth-child(3),
.card_top .card_top_yard:nth-child(7),
.card_top .card_top_yard:nth-child(11),
.card_top .card_top_yard:nth-child(15),
.card_top .card_top_yard:nth-child(19) {
  background-color: blue;
}
.card_top .card_top_yard:nth-child(4),
.card_top .card_top_yard:nth-child(8),
.card_top .card_top_yard:nth-child(12),
.card_top .card_top_yard:nth-child(16),
.card_top .card_top_yard:nth-child(20) {
  background-color: yellow;
}
.card_top .card_top_dispNum_lastFree {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_top .card_top_dispNum_lastFree .lastFree {
  color: red;
}
.card_top .card_top_dispNum_lastFree .lastFree .span_lfd {
  color: #000;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.container_cards_section {
  width: 160rem;
  height: auto;
  padding: 6rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem 1rem;
}

/*# sourceMappingURL=styles.css.map */
