.card_top {
  width: 100%;
  color: $color-black;
  font-weight: 600;

  .card_top_yard {
    width: 100%;
    height: 3rem;
    color: $color-white;
    @include flex-center;
    font-size: 1.4rem;
    font-weight: 600;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(70, 66, 66, 0.636);
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(62, 59, 59, 0.737);
  }

  .yard_red {
    background-color: red;
  }

  .yard_green {
    background-color: yellow;
    color: $color-black;
  }

  .yard_blue {
    background-color: blue;
  }

  .yard_gray {
    background-color: rgb(64, 59, 59);
  }

  .card_top_dispNum_lastFree {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lastFree {
      color: red;

      .span_lfd {
        color: $color-black;
        font-size: 1.2rem;
        margin-right: 1rem;
      }
    }
  }

  .boxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .boxContainer_title {
      font-size: 1rem;
    }

    .boxContainer_number {
      // margin-bottom: 0.75rem;
      font-size: 1.6rem;
      font-weight: 600;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
