.card_container {
  width: 24rem;
  height: 52rem;
  color: $color-black;
  background: url(../public/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  .card_top_dispNum_lastFree,
  .boxContainer,
  .card_pickup,
  .card_return,
  .card_customer {
    padding: 1rem;
    letter-spacing: 0.15rem;
    text-shadow: 0.15rem 0.15rem 0.2rem rgba(62, 59, 59, 0.287);
  }

  .card_top_dispNum_lastFree,
  .card_top,
  .card_return {
    position: relative;

    &::after {
      content: "";
      width: calc(100% - 2rem);
      height: 100%;
      @include absol-center;
      border-bottom: 0.1rem solid $color-black;
    }
  }
}
