@import "./billing/billing", "./dashboard/dashboard", "./data_entry/data_entry",
  "./dispatch/dispatch", "./drivers/drivers", "./equipment/equipment",
  "./tracking/tracking";

// MAIN CONTAINER STYLING

.container_main {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 9rem;
  left: 0;
  position: relative;

  .containers {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100vw;
    top: 0;
    @include transit6;
    background-color: $color-black;
    font-size: 2rem;
    border: 1px dotted green;
  }

  .moveLeft {
    left: 0vw;
    z-index: 10;
  }
}
